apiVersion: v1
kind: Secret
metadata:
  name: kafka-cluster-id
  labels:
    app.kubernetes.io/name: kafka
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: Opaque
stringData:
  clusterId: "{{ .Values.kafka.clusterId }}"
