kafka:
  kraft:
    enabled: true
    clusterId: "eXY51YRyw4xolN50glALvQ"
  zookeeper:
    enabled: false
  controller:
    replicaCount: 1
  broker:
    replicaCount: 1
  configurationOverrides:
    "listeners": PLAINTEXT://:9092
    "advertised.listeners": PLAINTEXT://kafka:9092
    "listener.security.protocol.map": PLAINTEXT:PLAINTEXT
  persistence:
    enabled: true
    size: 5Gi

heatwise:
  image:
    repository: ghcr.io/blondacz/heatwise
    tag: latest
    pullPolicy: Always

  env:
    HEATWISE__KAFKA__BOOTSTRAP: "kafka:9092"
    HEATWISE__KAFKA__DEVICEID: "cylinder-1"
    HEATWISE__KAFKA__TOPICS__DECISIONS: "heatwise.decisions"
    HEATWISE__KAFKA__TOPICS__STATE: "heatwise.state"
    HEATWISE__KAFKA__ACKS: "all"
    HEATWISE__AUDIT__FILE__ENABLED: "false"

  persistence:
    enabled: true
    mountPath: /data
    size: 1Gi
